<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Add Campground</title>
  </head>
  <body>
    <h1>Add Campground</h1>
    <p>Add a new campground below!</p>
    <form action="/campgrounds" method="post">
      <div>
        <label for="title">Title:</label>
        <input type="text" name="campground[title]" id="title" />
      </div>
      <p></p>
      <div>
        <label for="price">Price:</label>
        <input type="number" name="campground[price]" id="price" />
      </div>
      <p></p>
      <div>
        <label for="description">Description:</label>
        <textarea
          name="campground[description]"
          id="description"
          cols="30"
          rows="10"
        ></textarea>
      </div>
      <p></p>
      <div>
        <label for="location">Location:</label>
        <input type="text" name="campground[location]" id="location" />
      </div>
      <p></p>
      <button>Submit</button>
    </form>
    <a href="/campgrounds">Cancel</a>
  </body>
</html>
